.pagintaion__paginationContainer {
    position: relative;
    overflow-x: hidden;
  }
  
  .paginationControls {
    display: flex;
    flex-direction: row;
  
    flex-wrap: wrap;
  
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  
  .paginationContols__pageNoBtn {
    display: block;
  
    background: transparent;
    border: transparent;
  
    min-width: 2em;
  
    cursor: pointer;
  }
  .paginationContols__pageNoBtn--active {
    border: 1px blue solid;
  }
  .paginationContols__pageNoBtn--hidden {
    display: none;
  }
  .paginationContols__pageNoBtn--dotsAfter::after {
    content: " ... ";
    color: black;
  }
  .paginationContols__pageNoBtn--dotsBefore::before {
    content: " ... ";
    color: black;
  }
  
  .paginationControls__arrowBtn {
    display: block;
  
    background: transparent;
    border: transparent;
  
    cursor: pointer;
  }
  
  @keyframes nextPage {
    0% {
      opacity: 0;
      transform: translate(10em, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  @keyframes prevPage {
    0% {
      opacity: 0;
      transform: translate(-10em, 0);
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  