.post {
    transition: 0.3s ease-in-out;
  }
  .post__likeBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
  
    height: 3em;
    width: 3em;
  
    cursor: pointer;
  }
  
  .post--deleting--left {
    animation: postDeletedLeft 0.5s forwards;
  }
  
  @keyframes postDeletedLeft {
    0% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(-10em, 0);
      display: none;
    }
  }
  